body {
    font-family: sans-serif;
    text-align: center;
}

table{
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    border-collapse: collapse;
}

.espaco{
    border: none;
}

.verde {
    background-color: #009e2c;
    color: white;
}

.azul {
    background-color: #0078c1;
    color: white;
}

tr > th {
    border-collapse: collapse;
    padding: 5px;
}

th {
    border-right: 1px solid #ccc;    
    border-left: 1px solid #ccc;
}

td {
    height: 5%;
    border-right: 1px solid #ccc;
    padding: 5px;
}


button {
    background-color: #ff5406;
    text-transform: uppercase;
    color: white; 
    font-weight: bold;
    border-radius: 5%; 
    border: none;
    padding: 10px;
    font-size: 11px;
}

.linha-botoes th {
    padding: 10px 0;
    border-top: none;
}

tbody > tr:nth-child(odd) {
    background-color: #f5f5f5;
}

tr td:first-child {
    text-align: left;
}

.check-azul {
    color: #0078c1;
}

.check-verde {
    color: #009e23;
}

.linha-profissoes{
    border-bottom: none;
}