body{
    margin: 0;
    background-image: url(banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    width: 10%;
    cursor: pointer;
}

.fundo {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}