body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.botao {
    border: none;
    padding: 12px 24px;
    background-color: green;  
    color: white;
    border-radius: 5px;  
}

select {
    height: 40px;
    font-size: 18px;
}

.titulo {
    margin-top: 10%;
}